<head>
	<style>
		@media print {
			@page {
				size: A4 portrait;
			}
		}
	</style>
</head>
<body>
	<h1>Inizio</h1>
	<p>
		Loren ipsum dolor sit amet<br>
		<a href="#pagina2">aaaaa</a>
	</p>
</body>
