<form id="a">
	<input name=a value="prova testo">
	<textarea name=tx>bla bla bla bla bla</textarea>
	<input type=hidden name=hid value="abc">
	<input name=b placeholder=nix>
	<input type=checkbox name=c value=1> b
	<input type=checkbox name=d checked value=1> m
	<input type=radio name=f value=2 checked>
	<input type=radio name=f value=3 >
</form>
<pre id="result"></pre>
<script>
	var fd = new FormData(document.getElementById('a'));
	var obj = Object.fromEntries(fd.entries());
	document.getElementById('result').innerHTML = JSON.stringify(obj);
</script>
