<body>
	<h1>Aaaaaaaaaaaa</h1>
	<input type=color name=c id=c value'#fff'>
	<pre id="result"></pre>
	<script>
		var c = document.getElementById('c');
		c.onchange = (ev) => {
			let b = document.querySelector('body');
			let r = document.querySelector('#result');
			b.setAttribute('style', 'background: '+c.value+';');
			r.innerHTML = c.value;
		}
	</script>
</body>
