<head>
	<style>
			.pg {
				page-break-after: always;
				break-after: always;
			}
			#one {
				page: one;
				size: A4 portrait;
			}
			#two {
				page: two;
				size: 2000px 2000px;
			}
		@media print {
			#one {
				page: one;
			}
			#two {
				page: two;
			}
			@page one {
				size: A4 portrait;
			}
			@page two {
				size: 2000px 2000px;
			}
		}
	</style>
</head>
<body>
	<div id=one>
		<p>
			miao miao miao
		</p>
	</div>
	<div class=pg>
	</div>
	<div id=two >
		<p>
			the ende.
		</p>
	</div>
</body>
